# Форматы данных (1)

Материалы:
* Макрушин С.В. "Лекция 4: Форматы данных"
* https://docs.python.org/3/library/json.html
* https://docs.python.org/3/library/pickle.html
* https://www.crummy.com/software/BeautifulSoup/bs4/doc.ru/bs4ru.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Вывести все адреса электронной почты, содержащиеся в адресной книге `addres-book.json`

2. Вывести телефоны, содержащиеся в адресной книге `addres-book.json`

3. По данным из файла `addres-book-q.xml` сформировать список словарей с телефонами каждого из людей.

## Лабораторная работа №4

### JSON

In [4]:
import json
import pandas as pd

1.1 Считайте файл `contributors_sample.json`. Воспользовавшись модулем `json`, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [9]:
with open('data/contributors_sample.json', 'r') as f: # открываем файл на чтение
    contributors = json.load(f)
type(contributors)

list

In [16]:
for i in range(3):
    print(contributors[i])
    print()

{'username': 'uhebert', 'name': 'Lindsey Nguyen', 'sex': 'F', 'address': '01261 Cameron Spring\nTaylorfurt, AK 97791', 'mail': 'jsalazar@gmail.com', 'jobs': ['Energy engineer', 'Engineer, site', 'Environmental health practitioner', 'Biomedical scientist', 'Jewellery designer'], 'id': 35193}

{'username': 'vickitaylor', 'name': 'Cheryl Lewis', 'sex': 'F', 'address': '66992 Welch Brooks\nMarshallshire, ID 56004', 'mail': 'bhudson@gmail.com', 'jobs': ['Music therapist', 'Volunteer coordinator', 'Designer, interior/spatial'], 'id': 91970}

{'username': 'sheilaadams', 'name': 'Julia Allen', 'sex': 'F', 'address': 'Unit 1632 Box 2971\nDPO AE 23297', 'mail': 'darren44@yahoo.com', 'jobs': ['Management consultant', 'Engineer, structural', 'Lecturer, higher education', 'Theatre manager', 'Designer, textile'], 'id': 1848091}

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [ ]:
uni_email = set()
for x in contributors:
    uni_email.add(x['mail'])
uni_email

1.3 Напишите функцию, которая по `username` ищет человека и выводит информацию о нем. Если пользователь с заданным `username` отсутствует, возбудите исключение `ValueError`

In [31]:
## straight forward realisation
def find_person_info(username, data):
    for x in data:
        if x['username'] == username:
            return x
    raise ValueError('A very specific bad thing happened.')
    

find_person_info('uhebert', contributors)

{'username': 'uhebert',
 'name': 'Lindsey Nguyen',
 'sex': 'F',
 'address': '01261 Cameron Spring\nTaylorfurt, AK 97791',
 'mail': 'jsalazar@gmail.com',
 'jobs': ['Energy engineer',
  'Engineer, site',
  'Environmental health practitioner',
  'Biomedical scientist',
  'Jewellery designer'],
 'id': 35193}

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [42]:
female, male = 0, 0
for x in contributors:
        if x['sex'] == 'F':
            female = female + 1
        else:
            male = male + 1
print('Number of female: {} \nNumber of male: {}'.format(female, male))

Number of female: 2136
Number of male: 2064

In [44]:
contributors[0]

{'username': 'uhebert',
 'name': 'Lindsey Nguyen',
 'sex': 'F',
 'address': '01261 Cameron Spring\nTaylorfurt, AK 97791',
 'mail': 'jsalazar@gmail.com',
 'jobs': ['Energy engineer',
  'Engineer, site',
  'Environmental health practitioner',
  'Biomedical scientist',
  'Jewellery designer'],
 'id': 35193}

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id`, `username` и `sex`.

In [65]:
n_contr = len(contributors)
id_list, username_list, sex_list = [0] * n_contr, [0] * n_contr, [0] * n_contr
for i in range(n_contr):
    id_list[i] = contributors[i]['id']
    username_list[i] = contributors[i]['username']
    sex_list[i] = contributors[i]['sex']

contributors_dt = pd.DataFrame({'id': id_list, 'username': username_list, 'sex': sex_list})

In [66]:
contributors_dt.head()

        id     username sex
0    35193      uhebert   F
1    91970  vickitaylor   F
2  1848091  sheilaadams   F
3    50969     nicole82   F
4   676820       jean67   M

1.6 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Объедините `recipes` с таблицей `contributors` с сохранением строк в том случае, если информация о человеке отсутствует в JSON-файле. Для скольких человек информация отсутствует?

In [70]:
recipes_2 = recipes.merge(contributors_dt, left_on='contributor_id', right_on='id', how='left')
recipes_2.head()

,name,id_x,minutes,contributor_id,submitted,n_steps,description,n_ingredients,id_y,username,sex
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,35193.0,uhebert,F
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,91970.0,vickitaylor,F
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,NaN,NaN,NaN
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,NaN,NaN,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,NaN,NaN,NaN

Посчитать кол-во na в столбцу: https://stackoverflow.com/questions/26266362/how-to-count-the-nan-values-in-a-column-in-pandas-dataframe

In [72]:
print('для {} человек отсутствует информация'.format(recipes_2['username'].isna().sum()))

для 15059 человек отсутствует информация

### pickle

In [86]:
import pickle

2.1 На основе файла `contributors_sample.json` создайте словарь следующего вида: 
```
{
    должность: [список username людей, занимавших эту должность]
}
```

In [ ]:
from collections import defaultdict

jobs_people = defaultdict(list)

for x in contributors:
    for title in x['jobs']:
        jobs_people[title].append(x['username'])
jobs_people = dict(jobs_people)
jobs_people

2.2 Сохраните результаты в файл `job_people.pickle` и в файл `job_people.json` с использованием форматов pickle и JSON соответственно. Сравните объемы получившихся файлов. При сохранении в JSON укажите аргумент `indent`.

In [89]:
with open('res_data/job_people.pickle', 'wb') as f:
    pickle.dump(jobs_people, f)

In [91]:
with open('res_data/job_people.json', mode='w') as f: # открываем файл на запись 
    json.dump(jobs_people, f, indent=2)

In [ ]:
#Return the size, in bytes, of path.

In [94]:
import os
os.path.getsize('/Users/alexander/Documents/Универ/ТОБД/seminar 4/res_data/job_people.json')

319991

In [96]:
os.path.getsize('/Users/alexander/Documents/Универ/ТОБД/seminar 4/res_data/job_people.pickle')

132272

2.3 Считайте файл `job_people.pickle` и продемонстрируйте, что данные считались корректно.

In [99]:
with open('res_data/job_people.pickle', 'rb') as f:
    job_people_load = pickle.load(f)

In [ ]:
job_people_load

### XML

In [2]:
import requests
from bs4 import BeautifulSoup

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

In [ ]:
with open('data/steps_sample.xml') as f: 
    xml_file = BeautifulSoup(f, 'xml')
xml_file

In [ ]:
from collections import defaultdict

steps_d = defaultdict(list)
for recipe in xml_file.recipes.find_all('recipe'):
    steps_d[recipe.find('id').next] = [step.next for step in recipe.steps.find_all('step')]
steps_d

In [6]:
with open('res_data/steps_sample.json', mode='w') as f: # открываем файл на запись 
    json.dump(steps_d, f, indent=2)

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

In [ ]:
steps_count = defaultdict(list)

for recipe in xml_file.recipes.find_all('recipe'):
    number_of_steps = len(recipe.steps.find_all('step'))
    steps_count[number_of_steps].append(recipe.find('id').next)
steps_count = dict(steps_count)
steps_count

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

In [ ]:
step_time_list = list()

for recipe in xml_file.recipes.find_all('recipe'):
    for step in recipe.steps.find_all('step'):
        if step.has_attr('has_minutes') or step.has_attr('has_hours'):
            step_time_list.append(recipe.find('id').next)
            break

step_time_list

In [11]:
type(recipes['id'][0])

numpy.int64

In [ ]:
step_by_id = dict()

for recipe in xml_file.recipes.find_all('recipe'):
    number_of_steps = len(recipe.steps.find_all('step'))
    step_by_id[np.int64(recipe.find('id').next)] = number_of_steps    
step_by_id

In [13]:
recipes['n_steps'] = recipes['n_steps'].fillna(recipes['id'].map(step_by_id))
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,11.0,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,3.0,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,5.0,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,7.0,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

3.4 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Для строк, которые содержат пропуски в столбце `n_steps`, заполните этот столбец на основе файла  `steps_sample.xml`. Строки, в которых столбец `n_steps` заполнен, оставьте без изменений.

In [9]:
import numpy as np

In [10]:
recipes = pd.read_csv('data/recipes_sample.csv')
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`

In [14]:
recipes['n_steps'].isnull().values.any()

False

In [15]:
recipes.to_csv('res_data/recipes_sample_with_filled_nsteps.csv')