# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [2]:
import pandas as pd

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [3]:
recipes = pd.read_csv('recipes_sample.csv')
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [7]:
reviews = pd.read_csv('reviews_sample.csv', index_col=0)
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [10]:
#recipes:
print('Количество строк: {} \nКоличество столбцов: {} \nТип данных каждого столбца:\n{}'.format(
    recipes.shape[0], recipes.shape[1], recipes.dtypes))

Количество строк: 30000
Количество столбцов: 8
Тип данных каждого столбца:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [11]:
#reviews:
print('Количество строк: {} \nКоличество столбцов: {} \nТип данных каждого столбца:\n{}'.format(
    reviews.shape[0], reviews.shape[1], reviews.dtypes))

Количество строк: 126696
Количество столбцов: 5
Тип данных каждого столбца:
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
recipes.columns[recipes.isnull().any()].tolist()

In [ ]:
reviews.columns[reviews.isnull().any()].tolist()

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

reviews.select_dtypes(include=numerics).mean()

In [ ]:
recipes.select_dtypes(include=numerics).mean()

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
recipes['name'].sample(n = 10)

In [ ]:
type(recipes['name'].sample(n = 10))

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [13]:
reviews.index = range(0, reviews.shape[0])
reviews.head()

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [14]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)].shape

(2019, 8)

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [15]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [16]:
recipes[recipes['submitted'].dt.year <= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [17]:
recipes['description_length'] = recipes['description'].str.len().fillna(0).astype('int')
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [18]:
recipes['name'] = recipes['name'].str.capitalize()
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [19]:
recipes['name_word_count'] = recipes['name'].str.split().apply(len)
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [39]:
n_contributer = recipes['contributor_id'].value_counts()
n_contributer

89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1212296      1
2842508      1
708494       1
1460111      1
310001       1
Name: contributor_id, Length: 8404, dtype: int64

In [38]:
n_contributer.index[0]

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [42]:
reviews.groupby('recipe_id')['rating'].mean()

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [224]:
#Выберем рецептo, не имеющие отзывов
no_rating_rec = recipes['id'][~recipes['id'].isin(reviews['recipe_id'])]
no_rating_rec

5734     294898
25477    437617
27528    312478
27483     22003
16296    316000
          ...
15506    447879
3007     257254
23263     25781
29528     41137
17564    432239
Name: id, Length: 1900, dtype: int64

In [227]:
#Их кол-во:
no_rating_rec.size

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [55]:
recipes.groupby(recipes['submitted'].dt.year).size()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [222]:
#Соеденяем таблицы
df51 = recipes.merge(reviews, left_on='id', right_on='recipe_id',
                       how='inner')[['name', 'id', 'user_id', 'rating']]
df51.tail()

            name      id     user_id  rating
126691  Caramels  143615     1425430       5
126692  Caramels  143615      136558       5
126693  Caramels  143615  1800106861       5
126694  Caramels  143615      302094       5
126695  Caramels  143615      646764       5

In [229]:
#Попробуем найти рецепт, не имеющий отзывов в новой таблице
#Испольсуем no_rating_rec из задания 4.2
no_rating_rec.iloc[0] in df51['id'].values

False

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [151]:
right52 = pd.DataFrame(reviews['recipe_id'].value_counts()).reset_index()
right52

        index  recipe_id
0       27208       1382
1       82102        708
2      135350        674
3      107786        592
4       50719        486
...       ...        ...
28095  226895          1
28096  282152          1
28097  480779          1
28098  306676          1
28099  262144          1

[28100 rows x 2 columns]

In [180]:
#переименуем колонки
right52.set_axis(['id', 'review_count'], axis=1, inplace=True)
right52

           id  review_count
0       27208          1382
1       82102           708
2      135350           674
3      107786           592
4       50719           486
...       ...           ...
28095  226895             1
28096  282152             1
28097  480779             1
28098  306676             1
28099  262144             1

[28100 rows x 2 columns]

In [160]:
df52 = recipes.merge(right52, on='id', how='left')[['id', 'name', 'review_count']]
df52

           id                                          name  review_count
0       44123         George s at the cove  black bean soup           3.0
1       67664            Healthy for them  yogurt popsicles           8.0
2       38798                  I can t believe it s spinach           3.0
3       35173                          Italian  gut busters           1.0
4       84797      Love is in the air  beef fondue   sauces           8.0
...       ...                                           ...           ...
29995  267661  Zurie s holey rustic olive and cheddar bread           4.0
29996  386977          Zwetschgenkuchen  bavarian plum cake           2.0
29997  103312   Zwiebelkuchen   southwest german onion cake           6.0
29998  486161                                   Zydeco soup           6.0
29999  298512        Cookies by design   cookies on a stick           1.0

[30000 rows x 3 columns]

In [162]:
#Есть ли пропуски в рейтингах
df52['review_count'].isnull().values.any()

True

In [164]:
#Заполним пропуски нулями и еще раз проверим
df52['review_count'].fillna(0, inplace=True)
df52['review_count'].isnull().values.any()

False

In [228]:
#Выведем строку датафрейма df52, содержащую рецепт на который не оставлен ни один отзыв
#Используем no_rating_rec из задания 4.2
df52[df52['id'] == no_rating_rec.iloc[0]]

          id                                               name  review_count
5734  294898  Chicken curry or  cat s vomit on a bed of magg...           0.0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [176]:
right53 = pd.DataFrame(reviews.groupby('recipe_id').mean()['rating']).reset_index()
right53

       recipe_id    rating
0             48  1.000000
1             55  4.750000
2             66  4.944444
3             91  4.750000
4             94  5.000000
...          ...       ...
28095     536547  5.000000
28096     536610  0.000000
28097     536728  4.000000
28098     536729  4.750000
28099     536747  0.000000

[28100 rows x 2 columns]

In [178]:
#переименуем колонки
right53.set_axis(['id', 'mean_rating'], axis=1, inplace=True)
right53

           id  mean_rating
0          48     1.000000
1          55     4.750000
2          66     4.944444
3          91     4.750000
4          94     5.000000
...       ...          ...
28095  536547     5.000000
28096  536610     0.000000
28097  536728     4.000000
28098  536729     4.750000
28099  536747     0.000000

[28100 rows x 2 columns]

In [188]:
df53 = recipes.merge(right53, on='id', how='inner')[['id', 'submitted', 'mean_rating']]
df53.head()

      id  submitted  mean_rating
0  44123 2002-10-25     5.000000
1  67664 2003-07-26     5.000000
2  38798 2002-08-29     3.666667
3  35173 2002-07-27     4.000000
4  84797 2004-02-23     4.000000

In [204]:
set(df53[df53['mean_rating'] == df53['mean_rating'].min()]['submitted'].dt.year)

{1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018}

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [210]:
recipes.sort_values(by=['name_word_count'], ascending=False, inplace=True)
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,Subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343,15
27876,Top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129,14
28083,Tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436,14
26222,Subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087,14
12072,Gingery carrot and orange soup add a touch o...,68585,150,125325,2003-08-08,11.0,this warm and tangy soup has a beautiful muted...,11.0,580,13

In [212]:
recipes.to_csv('out61.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [223]:
with pd.ExcelWriter("path_to_file.xlsx") as writer:
    df51.to_excel(writer, sheet_name="Рецепты с оценками")
    df52.to_excel(writer, sheet_name="Количество отзывов по рецептам")

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3